.information-content {
  @apply  flex flex-col w-full ;
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #bbb;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #746d6d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
