.add-line-information-board-content-title {
  @apply flex flex-row mb-4 text-black text-2xl;
  align-items: center;
  width: 100%;
  height: 50px;
}

.add-line-information-board-content {
  @apply ml-4 flex flex-col h-full;
}

.add-line-information-board-content > .bus-line-information-board-content {
  flex: 0.85;
  @apply overflow-y-auto mt-5
}

.bus-line-information-board-content {
  @apply flex flex-col h-full;
}

.bus-line-information-board-content-schools{
  @apply flex;
  width: 100%;
  flex-direction: space-between;
}

.confirm-etablissement-selection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.add-line-information-board-content-buttons{
  @apply flex items-center w-[98%] left-0 bottom-1 justify-between absolute;
}