/* TODO: Refactor ?  */
@keyframes circle-animation-red {
  0% {
    stroke: red;
    fill: #fff;
    fill-opacity: 1;
  }
  100% {
    stroke: red;
    fill: red;
    fill-opacity: 1;
  }
}

.circle-animation-red {
  animation: circle-animation-red 1s infinite ease;
}

@keyframes circle-animation-green {
  0% {
    stroke: green;
    fill: #fff;
    fill-opacity: 1;
  }
  100% {
    stroke: green;
    fill: green;
    fill-opacity: 1;
  }
}

.circle-animation-green {
  animation: circle-animation-green 1s infinite ease;
}

/* TODO: Make it work */
/* If a line is under construction, show a pencil when the mouse is over a circle */
.addline-mode .map-point {
  cursor: url("/pencil.png"), auto;
}
