@import "../../../css/tailwind.css";
@import "../../../css/var.css";

#lateral-nav {
  @apply flex flex-col justify-between py-4 h-[100vh] w-[70px] bg-[var(--dark-teal)];
  transition-duration: 400ms;
}

#lateral-nav.active {
  width: 200px;
}

#lateral-nav-header {
  @apply mx-5;
  width: 140px;
}

#lateral-close {
  @apply inline-flex justify-end px-2;
}
