@import "../../../../css/var.css";

.left-menu-item {
  @apply w-full relative px-4 py-[15px] flex items-center gap-2 cursor-pointer text-white fill-white rounded-[5px] bg-[var(--dark-teal)];
}

.left-menu-item.active {
  @apply text-[var(--green-base)];
}

.left-menu-item.disable {
  fill: white;
  background: var(--gray-base);
}

.left-menu-item-pellet {
  @apply absolute right-[-6px] rounded-full;
  outline: solid 13px var(--dark-teal);
}
