.add-line-information-board-content-header {
  width: 100%;
  
}

.add-line-information-board-content {
  width: 100%;
  height: 100%;
}

.confirm-etablissement-selection {
  justify-content: center;
}
