.add-line-information-board-content .add-line-information-board-content-title {
  @apply flex flex-row mb-4 text-black text-2xl;
  align-items: center;
  width: 100%;
  height: 50px;
}

.add-line-information-board-content {
  @apply flex flex-col ml-4;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.bus-line-information-board-content {
  width: 100%;
  height: 100%;
}

.confirm-etablissement-selection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.add-line-information-board-content
  .add-line-information-board-content-buttons {
  @apply flex flex-row mb-2;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 35px;
}

.add-line-information-board-content-buttons{
  @apply absolute bottom-14 justify-around;
}