.add-line-information-board-content-title {
  @apply flex flex-row mb-4 text-black text-2xl;
  align-items: center;
  width: 100%;
  height: 50px;
}

.add-line-information-board-content {
  @apply ml-4;
  width: 80%;
  height: 100%;
  justify-content: space-between;
}

.bus-line-information-board-content {
  width: 100%;
  height: 100%;
}

.confirm-etablissement-selection {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.add-line-information-board-content-buttons{
  @apply flex items-center w-4/5 absolute bottom-16 justify-between;
}