@keyframes circle-animation {
  100% {
    fill: var(--stroke-color);
  }
}

.circle-animation {
  animation: circle-animation 1s infinite ease;
}

/* TODO: Make it work (add 'addline-mode' classlist in map )*/
/* If a line is under construction, show a pencil when the mouse is over a circle */
.addline-mode .map-point {
  cursor: url("/pencil.png"), auto;
}

.point-tooltip {
  @apply bg-gray-base border-black border-2 p-2 text-white mb-2;
}
