#information-board-layout{
  @apply absolute top-[60px] left-0 h-full w-[var(--information-board-width)] pt-5 pl-7 pr-5;
  height: 93.7vh;
  z-index: 1001;
  color: #005c9c;
  overflow-y:hidden;
  background: #ffffff; 
}
  