/* The switch - the box around the slider */
.filter-switch {
  position: relative;
  display: inline-block;
  margin-left: 10px;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.filter-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.filter-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.filter-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  border-radius: 50%;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .filter-slider {
  @apply bg-green-base;
}

input:focus + .filter-slider {
  @apply shadow-green-base;
}

input:checked + .filter-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
