#left-nav-container {
  @apply z-layoutLeft h-[100vh] w-[70px];
}

#left-nav {
  @apply absolute flex flex-col justify-between py-4 h-[100vh] w-[70px] bg-dark-teal;
  transition-duration: 400ms;
}

#left-nav.active {
  width: 200px;
}

#left-nav-header {
  @apply mx-5;
  width: 140px;
}

#left-close {
  @apply inline-flex justify-end px-2;
}
