/*
* MENU BUTTON
*/
.menu__toggler {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  outline: none;
  cursor: pointer;
  @apply btn btn-circle;

  > div {
    > span,
    span::before,
    span::after {
      position: absolute;
      left: 9px;
      top: 21px;
      display: block;
      content: "";
      width: 28px;
      height: 2.5px;
      background: #fafafa;
      border-radius: 20px;
      transition: 500ms cubic-bezier(0.77, 0, 0.175, 1);
    }

    > span::before {
      left: 0px;
      top: -8px;
    }

    > span::after {
      left: 0px;
      top: 8px;
    }
  }

  &.active > div {
    > span {
      background: transparent;
    }

    > span::before,
    span::after {
      background: #96d3ff;
      top: 0px;
    }

    > span::before {
      transform: rotate(-225deg);
    }

    > span::after {
      transform: rotate(225deg);
    }
  }

  > div {
    height: 28px;
    width: 28px;
    min-width: 28px;
  }
}

.menu-btn {
  @apply absolute top-[20px]  z-[999] outline-none cursor-pointer;
}

.export-btn {
  @apply fixed bottom-0 right-0 p-2 m-4 mr-1 z-[999];

  > button {
    @apply bg-white bg-opacity-90 border-none text-black hover:bg-white font-bold py-2 px-4 rounded btn;
  }
}

.export-select {
  @apply w-full flex flex-row flex-wrap justify-evenly;

  > #export-type {
    @apply card shadow-lg border rounded-lg border-gray-300 duration-200 p-2 flex flex-col items-center justify-center sm:w-1/3 sm:m-3 w-full hover:scale-105 cursor-pointer;
  }
}

.export-modal-background {
  @apply fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity;
}

.button-wrapper {
  @apply bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6;

  .export-modal-confirm {
    @apply inline-flex w-full justify-center rounded-md bg-green-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-green-500 sm:ml-3 sm:w-auto;
  }
  .export-modal-cancel {
    @apply mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto;
  }
}

.export-modal-box {
  @apply flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0;

  > .dialog-box {
    @apply relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg;
  }

  ,
  .card-container {
    @apply bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4 w-full;

    .card-container-title {
      @apply mt-3 text-center sm:mt-0 sm:text-left w-full;
    }
  }

  ,
  #modal-title {
    @apply text-base font-semibold leading-6 text-gray-900;
  }
}

/*
* SLIDING MENU PANEL
*/
.menu__custom {
  @apply p-2 w-80 text-base-content text-left;
  position: absolute;
  top: 0px;
  left: -30%;
  z-index: 998;
  color: #005c9c;
  background: rgba(250, 250, 250, 0.7);
  width: 30%;
  height: 100%;
  padding-top: 5rem;
  transition: 300ms left cubic-bezier(0.77, 0, 0.175, 1);

  &.active {
    left: 0;
  }

  > p {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  > nav {
    @apply mb-3 isolate divide-x divide-gray-300 rounded-lg shadow hidden sm:flex border-b  text-indigo-600 tabs;
    @apply isolate divide-x divide-gray-300 rounded-lg shadow hidden sm:flex -mb-px border-b  text-indigo-600 tabs;
    @apply mb-3 isolate divide-x divide-gray-300 rounded-lg shadow hidden sm:flex border-b  text-indigo-600 tabs;

    > button {
      @apply border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700 inline-flex items-center  py-4 px-4 text-sm font-medium;

      &.active {
        @apply border-indigo-500 text-indigo-600 inline-flex items-center py-4 px-4 text-sm font-medium;
      }
    }
  }
}

.menu-link-shortcut {
  justify-content: space-between;
}

/* Right menu toggler */
.side-map-menu {
  @apply absolute right-5  top-6 bg-[#252525] p-2 z-[999] rounded-lg;
  transition-duration: 300ms;

  &.active {
    @apply translate-x-[-250px];
  }
}

#side-map-toggler {
  transition-duration: 300ms;
  position: absolute;
  top: 0px;
  right: -250px;
  z-index: 998;
  color: #005c9c;
  background: rgba(250, 250, 250, 0.7);
  width: 250px;
  height: 100%;
  padding: 10px;
  padding-top: 1rem;

  &.active {
    @apply translate-x-[-250px];
  }

  > header {
    > span.close-toggler {
      position: absolute;
      right: 32px;
      top: 32px;
      width: 32px;
      height: 32px;
      opacity: 1;
    }

    > span.close-toggler::before,
    .close-toggler::after {
      position: absolute;
      left: 15px;
      content: " ";
      height: 33px;
      width: 2px;
      background-color: #333;
    }

    > .close-toggler::before {
      transform: rotate(45deg);
    }

    > .close-toggler::after {
      transform: rotate(-45deg);
    }
  }
}

.tiles-map {
  width: 90%;
  height: auto;
  overflow: hidden;

  z-index: 999;

  margin: 15px 0;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  cursor: pointer;
  @apply items-end;

  > p {
    width: 100%;
    background: gray;
    @apply text-center py-1 text-white flex justify-center;
  }

  > .leaflet-control-minimap {
    cursor: pointer !important;
    width: 100% !important;

    > div.leaflet-pane.leaflet-map-pane {
      > div.leaflet-pane.leaflet-overlay-pane {
        > svg {
          display: none;
        }
      }
    }
  }
}

#map-layer-tiles-list {
  overflow-y: auto;
  height: 87vh;
}

/* -------------------------------------- redesign --------------------------------- */

@layer components {
  #lateral-nav {
    @apply bg-[#062F3F] text-white h-[100vh] w-[70px]  translate-y-[-60px]  flex-col flex items-center pt-3;
    transition-duration: 400ms;
    &.true {
      width: 200px;
    }

    > .lateral-nav-header {
      @apply flex items-center gap-3;
    }

    > .lateral-nav-list {
      margin-top: 10px;

      > .lateral-nav-item {
        @apply gap-2 px-4 py-[15px];
        border-radius: 5px;
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      > .lateral-nav-item:hover {
        background-color: #083d52;
      }
    }
    > #lateral-close {
      position: absolute;
      bottom: 10px;
    }
  }
}
