.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

:root {
  --green-base: #0cc683;
  --red-base: #f44434;
  --dark-teal: #062f3f;
  --dark-shade-teal: #062f3fcc;
  --gray-base: #aeb8b4;
}
