@import "../../css/tailwind.css";
@import "../../css/var.css";

.lateral-nav-item {
  @apply w-full relative px-4 py-[15px] flex items-center gap-2 cursor-pointer text-white fill-white rounded-[5px] bg-[var(--dark-teal)];
}

.lateral-nav-item.active {
  @apply text-[var(--green-base)];
}

.lateral-nav-item.disable {
  fill: white;
  background: var(--gray-base);
}

.lateral-nav-item-pellet {
  @apply absolute right-[-6px] rounded-full;
  outline: solid 13px var(--dark-teal);
}
