:root {
  --animation-duration: 1200ms;
}

#instruction-box {
  @apply flex items-center justify-center bg-green-light rounded-lg;

  outline: 1px solid;
  transition: all var(--animation-duration) cubic-bezier(0.19, 1, 0.22, 1);
  animation: draw-attention var(--animation-duration);
  animation-iteration-count: infinite;
}

@keyframes draw-attention {
  from {
      outline-offset: 0px;
      outline-color: rgba(0,0,0, .5);
  }

  to {
      outline-offset: 10px;
      outline-color: rgba(0, 0, 0, 0);
  }
}