.timeline-add-point-button {
  @apply ml-1;
  opacity: 0%;
}

.timeline-add-point-button:hover {
  opacity: 100%;
}
.v-timeline-item__body.body-add {
  opacity: 0%;
}
/*Put in Onclick
} */
.v-timeline-item-add:focus-within .v-timeline-item__body.body-add {
  opacity: 100%;
}

.v-timeline-item-add:focus-within .timeline-add-point-button {
  opacity: 100%;
}