.cell-item {
  width: 18px;
  height: 40px;
  border: 0.2px solid #00000069;
}

.active-cell {
  @apply bg-green-base;
}

.outperiod-cell {
  @apply bg-red-base;
}

.weekend-cell {
  @apply bg-gray-base;
}

.weekend-cell.active-cell {
  @apply bg-green-light;
}
